extends ../layouts/default
block css
	link(href="styles/landing.css", rel="stylesheet")
block js
	script(src="js/landing.js")


mixin post(post)
	.col-xs-7.content-item.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		p!= post.content
		p.small.text-muted 
			if post.date
				| #{post._.date.format('MMMM Do, YYYY')} 
			if post.byUserId
				| by 
				a(href="/user/"+post.byUserId)=post.byUserId
		if post.relatedCourseId
			p.small
				| About Course 
				a(href="/course/"+post.relatedCourseId)=post.relatedCourseId
			if post.relatedLessionId
				| in 
				a(href="/course/"+post.relatedLessionId)=post.relatedLessionId
		br

block body
	#body.container-fluid:.row
		#left-panel.col-xs-2
			#left-part.clearfix
				aside.category-menu
					h4.menu-header Browser
					hr
					.dropdown.sources-list
						button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Choose Source
						ul.dropdown-menu
							li.menu-item
								a(href="#" data-source="Coursera").index-source Coursera
							li.menu-item
								a(href="#" data-source="Udemy").index-source Udemy

					ul#categories-list
						

					
		#center-panel.col-xs-7
			#center-part.clearfix
				form.service-select.clearfix
					.col-xs-12
						h4 Filter
					.col-xs-6
						.row
							.col-xs-6
								input(type="radio", name = "peopleRange", value="MyFriends")
								| <strong> MyFriends </strong>
							.col-xs-6
								input(type="radio", name = "peopleRange", value="Discover")
								| <strong> Discover </strong>
						hr
						.row
							.col-xs-6
								input(type="checkbox", name = "peopleRange", value="Posts")
								| <strong> Posts </strong>
							.col-xs-6
								input(type="checkbox", name = "peopleRange", value="Challenges")
								| <strong> Challenges </strong>
					.col-xs-6.submit-section
						center
							button(type="submit")#filter-submit-button Go !
				.newline
				div.main-content.clearfix
					if !user
						.col-xs-12.content-item
							p How does the distressed public sight the relief? Whatever cylinder exercises underneath the center. How does a glove breeze? A feeling arm locates the guaranteed coast. A nurse impairs this crowd. The temporary radio escapes in the editorial.
						.newline
						.col-xs-12.content-item
							p How does the distressed public sight the relief? Whatever cylinder exercises underneath the center. How does a glove breeze? A feeling arm locates the guaranteed coast. A nurse impairs this crowd. The temporary radio escapes in the editorial.
						.newline
						.col-xs-12.content-item
							p How does the distressed public sight the relief? Whatever cylinder exercises underneath the center. How does a glove breeze? A feeling arm locates the guaranteed coast. A nurse impairs this crowd. The temporary radio escapes in the editorial.
						.newline
					else
						each post in data.posts
							+post(post)

		#right-panel.col-xs-3
			#right-part.clearfix
				aside.ranking-section
					h4.rank-header Ranking
