extends ../layouts/default
block css
	link(href="/styles/landing.css", rel="stylesheet")
block js
	script(src="/js/landing.js")
	script(src="/js/apicall/pointsystem.js", type="text/javascript")


mixin displayContent(content)
	.col-xs-12.content-item
		.index-content-header.row
			if (content.type === "post")
				.col-xs-3.friend-image-wrapper
					img.friend-image(src="https://www.whitehouse.gov/sites/whitehouse.gov/files/images/twitter_cards_potus.jpg")
				.col-xs-8.metadata
					div
						a(href="/user/"+content.postAuthor.username)= content.postAuthor.username
						i(style="margin-left: 20px;") Created at #{content._.createdAt.format('MMMM Do, YYYY')}
					div
						h5.inline-ele Course:  
						a(href="/course?source="+content.source + "&id="+content.cid)=content.courseTitle
					div
						h5.inline-ele(style="margin-top:3px;") #{content.lessonName}
			else
				center
					a(href="/challenge/view?id="+content._id) New Challenge created by #{content.creatorName}

		hr
		if (content.type === "post")
			center
				a(href="/post?postId="+content._id)
					h4
						strong= content.title
			.col-xs-1.no-float
				.upvote-btn
					i(class="fa fa-caret-up" style="font-size:40px" onclick="upvote('"+content._id+"')" )
				.vote-number(style="padding-left:3px" id=content._id+"point")= content.point
				.downvote-btn
					i(class="fa fa-caret-down" style="font-size:40px" onclick="downvote('"+content._id+"')")
			.col-xs-11.no-float!= content.content
		else
			center(style="padding-bottom: 20px;")
				a(href="/challenge/view?id="+content._id)
					button.btn.btn-primary Take a look 
	.newline
	
block body
	#body.container-fluid:.row
		#left-panel.col-xs-2
			#left-part.clearfix
				aside.category-menu
					h4.menu-header Browser
					hr
					.dropdown.sources-list
						button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown") Choose Source
						ul.dropdown-menu
							li.menu-item
								a(href="#" data-source="Coursera").index-source Coursera
							li.menu-item
								a(href="#" data-source="Udemy").index-source Udemy

					ul#categories-list
						

					
		#center-panel.col-xs-7
			#center-part.clearfix
				.service-select.clearfix
					center
						a(href="/index/friends")
							button.btn.btn-success(style="width: 49.5%") You Friends
						a(href="/index/discover")
							button.btn.btn-info(style="width: 49.5%") Discover
					
				.newline
				div.main-content.clearfix
					if !user
						.col-xs-12.content-item
							p How does the distressed public sight the relief? Whatever cylinder exercises underneath the center. How does a glove breeze? A feeling arm locates the guaranteed coast. A nurse impairs this crowd. The temporary radio escapes in the editorial.
						.newline
						.col-xs-12.content-item
							p How does the distressed public sight the relief? Whatever cylinder exercises underneath the center. How does a glove breeze? A feeling arm locates the guaranteed coast. A nurse impairs this crowd. The temporary radio escapes in the editorial.
						.newline
						.col-xs-12.content-item
							p How does the distressed public sight the relief? Whatever cylinder exercises underneath the center. How does a glove breeze? A feeling arm locates the guaranteed coast. A nurse impairs this crowd. The temporary radio escapes in the editorial.
						.newline
					else
						each content in data.contentList
							+displayContent(content)

		#right-panel.col-xs-3
			#right-part.clearfix
				aside.ranking-section
					.content-tiem
						h4.rank-header Reputation Ranking
						.container-float
							table(class="table")
								thead
									tr
										th User
										th Reputation Point
								tbody
									each user in data.mostReputedUsers
										tr
											td 
												strong=user.username
											td 
												strong=user.totalPoint
