extends ../layouts/default
block css
  link(href="styles/myPage.css", rel="stylesheet")
block js
  script(src="js/myPage.js", type="text/javascript")
block body
  script.
    var courseList = !{JSON.stringify(courseList)};
  #myPage-page.container-fluid:.row
    #myPage-left-panel.col-xs-2
    #myPage-center-panel.col-xs-8
      center
        h1 My Page - #{user.username}
      center 
        .option-button
          a(href="/userProfile") 
            button.btn.primary-btn View your profile
          a(href="/user/"+user.username +"/following")
            button.btn.primary-btn Following
          a(href="/user/"+user.username+"/followed")
            button.btn.primary-btn Followed
          a(href="/user/"+user.username)
            button.btn.primary-btn Your public page
      .courseList
        each course in courseList
          .myPage-course.clearfix.fixed-box
            center
              .course-title(data-url = "/course?source=" + course.source + "&id=" + course.cid)= course.title + " - " + course.source
            .col-xs-6
              center
                label(style="padding-top:10px;") Number of Posts : 
                | #{course.myPosts.length}
            
            .col-xs-6
              center
                label(style="padding-top:10px;") Number of Challenges : 
                if (course.myChallenge)
                  | 1
                else
                  | 0

            hr
            .col-xs-12
              h3 Posts
              - var count = 0;
              each myPost,index in course.myPosts
                .col-xs-4(class="myPage-post" class= index === (course.myPosts.length - 1) || index % 3 === 2? "myPage-post-right": "" class= index === (course.myPosts.length - 1) || index + 1 > (course.myPosts.length - (course.myPosts.length - 1) % 3 - 1) || index + 4 > (course.myPosts.length)? "myPage-post-bottom": "", data-postId=myPost._id)
                  a(href="/post?postId="+myPost._id).inline-ele
                    h4.inline-ele(style="color: black") <strong> #{myPost.title} </strong>
                  button(data-postid=myPost._id + "").btn.primary-btn.view-btn View
                  h5 <strong>Course </strong>: #{myPost.courseTitle}
                  | <strong>Created at </strong>: #{myPost._.createdAt.format('YYYY-MM-DD')}  
            if (course.myChallenge)
              .col-xs-12
                h3 Challenges
                .col-xs-4.myPage-challenge
                  a(href="/challenge/view?id="+course.myChallenge._id)
                    h4.inline-ele(style="color:black") You vs #{course.friendName}
                  a(href="/challenge/view?id="+course.myChallenge._id)
                    button.btn.primary-btn.view-btn View
                  h5 <strong> State: </strong> #{course.myChallenge.state.toLowerCase()}
              
    #myPage-right-panel.col-xs-2