extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		p!= post.content
		p.small.text-muted 
			if post.date
				| #{post._.date.format('MMMM Do, YYYY')} 
			if post.byUserId
				| by 
				a(href="/user/"+post.byUserId)=post.byUserId
		if post.relatedCourseId
			p.small
				| About Course 
				a(href="/course/"+post.relatedCourseId)=post.relatedCourseId
			if post.relatedLessionId
				| in 
				a(href="/course/"+post.relatedLessionId)=post.relatedLessionId
		br

block body
	.container: .row
		.col-sm-6.col-md-6
			if data.posts.length
				h2.lead News Feed
				.blog
					each post in data.posts
						+post(post)
			else
				h3.text-muted There are no posts yet.
		
	
