extends ../layouts/default
block css
  link(href="styles/search.css", rel="stylesheet")
block js
  script(src="js/search.js", type="text/javascript")
block body
  #search-page.container-fluid:.row
    #search-left-panel.col-xs-2
    #search-center-panel.col-xs-8
      center.col-xs-12
        h1 Search Result for "#{query}"
      hr
      hr
      hr
      #search-results.col-xs-12
        each course in results
          if (course)
            .course-info.clearfix(onclick="location.href='/course?source=#{course.source}&id=#{course.id}';", style="cursor: pointer")
              .course-img-wrapper
                img.course-img(src="#{course.smallImageUrl}")
              h4 #{course.title}
              i #{course.source}
                 
    #search-right-panel.col-xs-2